/*Fonts*/

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: local("Cuprum"), url("../fonts/cuprum.woff2") format("woff2"), url("/fonts/cuprum.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 400;
    src: local("Cuprum"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("/fonts/cuprumitalic.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    src: local("Cuprum"), url("../fonts/cuprumbold.woff2") format("woff2"), url("/fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 700;
    src: local("Cuprum"), url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("/fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans"), url("../fonts/ptsans.woff2") format("woff2"), url("/fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans"), local("PTSans"), url("../fonts/ptsansbold.woff2") format("woff2"), url("/fonts/ptsansbold.woff") format("woff");
}


/* Variables */

 :root {
    --basic-attention: #EE3643;
    --basic-attention-hover: #CA2C37;
    --basic-attention-active: #BA2732;
    --background-dark: #293449;
    --background-middle-dark: #888888;
    --basic-positive: #63A63E;
    --basic-positive-border: #367315;
    --basic-positive-hover: #5FBB2D;
    --basic-positive-active: #518534;
    --text-color: #ffffff;
    --text-color-50-opacity: #ffffff50;
    --text-color-30-opacity: #ffffff30;
    --dark-color: #32425C;
    --text-max-dark-color: #000000;
    --text-max-dark-color-30-opacity: #00000030;
    --background-light: #F3F7F9;
    --background-middle-light: #F1F5F7;
    --section-header-color: #F9F5F0;
    --deleted-text: #A9A9A9;
    --deleted-text-30-opacity: #A9A9A930;
    --additional-link: #FFD180;
    --additional-link-50-opacity: #FFD18050;
    --background-sub-page: #F2F6F8;
    --background-sub-page-section: #F7F3EC;
    --background-slider: rgb(173, 156, 137);
    --background-material-delivery: #FFBF47;
    --background-tool: #3BBCE3;
    --background-technics: #DC91D8;
    --backgroud-discounts: #8ED78F;
    --border-color: lightgray;
    --backgroudnd-social: #212A3A;
    --ui: #C5C5C5;
    --ui-30-opacity: #C5C5C530;
    --ui-hover: #B5B5B5;
    --ui-blocked: #B5B5B530;
    --page-border: #E5E5E5;
    --shadow: #EAEAEA;
    --acttive-menu: #161D29;
}


/* Global */

body {
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

img {
    max-width: 100%
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/*my styles down below*/

.attention-button {
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--basic-attention);
    padding: 5px 15px;
    font-size: 14px;
    line-height: 18px;
}

.header-text {
    text-transform: uppercase;
}

.top-line-header {
    background-color: var(--background-dark);
    color: var(--text-color);
    font-size: 18px;
    line-height: 24px;
}

.top-line-header a {
    color: var(--text-color);
}

.main-header-logo {
    background-color: var(--basic-attention);
}

.middle-line-header {
    background-color: var(--background-light);
}

.header-shop-description {
    color: var(--basic-attention);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.header-contact-phone {
    color: var(--basic-attention);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    border: 2px solid var(--text-color);
    display: inline-block;
    text-align: center;
    width: 270px;
}

.header-contact-phone::before {
    content: url('../img/icon-phone.svg');
    margin-right: 15px;
}

.header-contact-address {
    color: var(--dark-color);
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
}

.header-login-register a {
    color: var(--text-max-dark-color);
    font-size: 21px;
    line-height: 21px;
}

.authorized-user {
    font-size: 21px;
    line-height: 21px;
}

.authorized-user-actions a {
    color: var(--dark-color);
    font-size: 16px;
    line-height: 18px;
}

.authorized-user-actions a:hover {
    color: var(--text-max-dark-color);
    font-size: 16px;
    line-height: 18px;
}

.botom-line-header {
    background-color: var(--background-light);
}

.main-site-nav {
    background-color: var(--dark-color);
    color: var(--text-color);
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
}

.main-site-nav a {
    color: var(--text-color);
}

.main-site-nav a:hover,
.main-site-nav a:focus {
    background-color: var(--background-dark);
}

.main-site-nav a:active {
    background-color: var(--background-dark);
    color: var(--text-color-50-opacity);
}

.bread-crumbs {
    list-style-type: none;
    text-transform: uppercase;
}

.bread-crumbs a {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--text-max-dark-color);
}

.tools-slider-content-header {
    color: var(--text-color);
    /* background-color: var(--background-slider); */
}

.tools-slider-content-header h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.tools-slider-content-header span {
    font-size: 18px;
    line-height: 24px;
}

.open-attention-button {
    display: inline-block;
    background-color: var(--basic-attention);
    color: var(--text-color);
    text-transform: uppercase;
}

.open-attention-button:hover,
.open-attention-button:focus {
    background-color: var(--basic-attention-hover);
}

.open-attention-button:active {
    background-color: var(--basic-attention-active);
}

.main-sections-list {
    list-style-type: none;
    color: var(--text-color);
    font-size: 24px;
    line-height: 30px;
}

.main-sections-list a {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    width: 135px;
    background-color: var(--text-color-30-opacity);
}

.main-sections-list a:hover,
.main-sections-list a:focus {
    background-color: var(--ui-30-opacity);
}

.main-sections-list a:active {
    background-color: var(--deleted-text-30-opacity);
}

.main-section-material {
    background-color: var(--background-material-delivery);
}

.main-section-tool {
    background-color: var(--background-tool);
}

.main-section-technics {
    background-color: var(--background-technics);
}

.main-section-discounts {
    background-color: var(--backgroud-discounts);
}

.main-section-delivery {
    background-color: var(--background-material-delivery);
}

.section-header {
    background-color: var(--section-header-color);
    color: var(--dark-color);
}

.section-product-header {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.product-list {
    list-style-type: none;
    font-family: "PT Sans", "Arial", sans-serif;
}

.product {
    border: 1p var(--border-color) solid;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.product .old-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: var(--deleted-text);
}

.section-producer-header {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.producer-list {
    list-style-type: none;
    padding: 0;
}

.producer {
    border: 2px solid var(--ui);
    border-radius: 2px;
}

.services {
    background-color: var(--background-middle-light);
}

.services-header {
    font-size: 30px;
    line-height: 30px;
    color: var(--text-max-dark-color);
}

.all-services-description {
    font-size: 13px;
    line-height: 24px;
    color: var(--text-max-dark-color);
}

.services-list {
    list-style-type: none;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.service-list-item {
    color: var(--text-color);
    background-color: var(--dark-color);
    padding: 15px;
    border-top: 5px solid var(--dark-color);
}

.service-list-item.current {
    color: var(--dark-color);
    background-color: var(--text-color);
}

.service-list-item:not(.current) a {
    color: var(--text-color);
}

.service-list-item:not(.current) {
    background-color: var(--dark-color);
}

.service-list-item:not(.current):hover {
    background-color: var(--background-dark);
}

.services-header-text {
    font-size: 30px;
    line-height: 30px;
    color: var(--dark-color);
}

.services-description {
    color: var(--text-max-dark-color);
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about-company-header-text {
    font-size: 30px;
    line-height: 30px;
    color: var(--text-max-dark-color);
}

.about-company-description {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans";
}

.delivery-list {
    list-style-type: none;
    font-size: 18px;
    line-height: 24px;
}

.contacts-header-text {
    font-size: 30px;
    line-height: 30px;
    color: var(--text-max-dark-color);
}

.contacts-description {
    font-size: 13px;
    line-height: 24px;
    color: var(--text-max-dark-color);
    font-family: "PT Sans";
}

.main-footer-nav {
    background-color: var(--dark-color);
    list-style-type: none;
    color: var(--text-color);
}

.footer-nav-general-list a {
    color: var(--text-color);
}

.main-footer-nav ul {
    list-style-type: none;
    font-size: 18px;
    line-height: 24px;
}

.footer-nav-additional-list a {
    color: var(--additional-link);
}

.footer-bottom-line {
    background-color: var(--background-dark);
    color: var(--text-color);
    font-size: 16px;
    line-height: 18px;
}

.footer-copy {
    font-size: 16px;
    line-height: 18px;
}

.footer-feedback,
.footer-development {
    color: var(--text-color);
    font-size: 16px;
    line-height: 18px;
}

.footer-feedback a,
.footer-development a {
    color: var(--additional-link);
}

.background-subpage {
    background-color: var(--background-sub-page);
}

.subpage-header {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.section-filter-header {
    background-color: var(--background-sub-page-section);
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.price-filter-header,
.producer-filter-header,
.power-filter-header {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.price-range,
.price-range-border {
    background-color: var(--background-sub-page-section);
}

.price-range-border {
    font-family: "PT Sans", "Arial", sans-serif;
    ;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
}

.producer-filter-list {
    list-style-type: none;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    ;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
}

.power-filter-option {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.apply-filter span {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.sorting {
    text-transform: uppercase;
    background-color: var(--background-sub-page-section);
}

.sorting-description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.sorting-description a.sorting-criteria.current {
    color: var(--basic-attention);
    text-decoration: none;
    border-bottom: none;
}

.sorting-description a.sorting-criteria {
    color: var(--text-max-dark-color-30-opacity);
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px var(--basic-attention) dashed;
}

.sorting-description a.sorting-criteria:hover:not(.current) {
    color: var(--text-max-dark-color);
    border-bottom-style: solid;
}

.sorting-direction.direction-down .icon::before {
    content: url("../img/icon-down.svg");
}

.sorting-direction.direction-down:hover .icon::before,
.sorting-direction.direction-down:focus .icon::before {
    content: url("../img/icon-down-hover.svg");
}

.sorting-direction.direction-down.current .icon::before,
.sorting-direction.direction-down:active .icon::before {
    content: url("../img/icon-down-active.svg");
}

.sorting-direction.direction-up .icon::before {
    content: url("../img/icon-up.svg");
}

.sorting-direction.direction-up:hover .icon::before,
.sorting-direction.direction-up:focus .icon::before {
    content: url("../img/icon-up-hover.svg");
}

.sorting-direction.direction-up.current .icon::before,
.sorting-direction.direction-up:active .icon::before {
    content: url("../img/icon-up-active.svg");
}

.direction-up {
    background-image: url("../img/icon-up.svg");
}

.product {
    width: 220px;
    border: 1px solid var(--ui);
    border-radius: 1px;
}

.product-action {
    display: none;
    width: 100%;
    margin: 0 auto;
}

.product button {
    display: block;
    width: 135px;
    height: 38px;
    border-radius: 2px;
    text-transform: uppercase;
    border: none;
}

.product:hover {
    box-shadow: 0 0 10px var(--shadow);
}

.product:hover .product-action {
    display: inline-block;
}

.product:hover img {
    display: none;
}

.buy-product {
    color: var(--text-color);
    background-color: var(--basic-positive);
    box-shadow: inset 0px -3px 0px var(--basic-positive-border);
}

.buy-product span::before {
    content: url("../img/icon-cart.svg");
    margin-right: 5px;
    height: 11px;
    width: 15px;
}

.buy-product:hover,
.buy-product:focus {
    background-color: var(--basic-positive-hover);
}

.buy-product:active {
    background-color: var(--basic-positive-active);
}

.bookmark-product {
    color: var(--dark-color);
    border: 3px solid var(--basic-positive)
}

.bookmark-product:hover,
.bookmark-product:focus {
    border-color: var(--dark-color);
}


/*TBD border color*/

.bookmark-product:active {
    background-color: var(--basic-positive-active);
}

.page-list {
    list-style-type: none;
}

.page-item {
    display: inline-block;
    min-width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid var(--page-border);
    border-radius: 1px;
    padding: 0 3px;
}

.page-item a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--text-max-dark-color);
}

.page-item:hover,
.page-item:focus {
    border-color: var(--ui);
}

.page-item:active {
    border-color: var(--basic-attention);
}

.page-item.current {
    background-color: var(--basic-attention);
}

.page-item.current a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--text-color);
}

.product-section {
    background-color: var(--background-sub-page);
}

.product-section-header {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--text-max-dark-color);
}

.product-section-description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--text-max-dark-color);
}


/*:hover :active :focus*/

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: var(--basic-attention);
}

.main-header-logo:active {
    background-color: var(--basic-attention-active);
}

.main-header-search span::before {
    content: url('../img/icon-search.svg');
    margin-right: 5px;
    opacity: 0.3;
}

.main-header-search:hover span::before {
    content: url('../img/icon-search.svg');
    margin-right: 5px;
    opacity: 1;
}


/*TBD  .main-header-search:hover input:focus*/

.main-header-bookmarks a {
    display: inline-block;
    cursor: pointer;
}

.main-header-bookmarks a::before {
    content: url('../img/icon-bookmark.svg');
    margin-right: 5px;
    opacity: 0.3;
}

.main-header-bookmarks a:hover::before,
.main-header-bookmarks a:focus::before {
    content: url('../img/icon-bookmark.svg');
    margin-right: 5px;
}

.main-header-bookmarks a:active::before {
    content: url('../img/icon-bookmark.svg');
    margin-right: 5px;
    opacity: 0.3;
}

.main-header-bookmarks a:active {
    background-color: var(--acttive-menu);
}

.main-header-cart a::before {
    content: url('../img/icon-cart.svg');
    margin-right: 15px;
    opacity: 0.3;
}

.main-header-cart:hover a::before {
    content: url('../img/icon-cart.svg');
    margin-right: 15px;
    opacity: 1;
}

.make-order {
    color: var(--text-color);
    background-color: var(--basic-positive);
    padding: 5px 15px;
}

.make-order:hover,
.make-order:focus {
    background-color: var(--basic-positive-hover);
}

.make-order:active {
    background-color: var(--basic-positive);
    color: var(--text-color-50-opacity);
}

.header-login-register a {
    background-color: var(--text-color);
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
}

.login-link::before {
    content: url('../img/icon-login.svg');
    margin-right: 5px;
}

.login-link:hover::before,
.login-link:focus::before {
    content: url('../img/icon-login-hover.svg');
}

.login-link:active::before {
    content: url('../img/icon-login.svg');
}

.login-link:hover,
.login-link:focus,
.register-link:hover,
.register-link:focus {
    color: var(--basic-attention);
}

.login-link:active,
.register-link:active {
    color: var(--ui);
}

.authorized-user-link::before {
    content: url('../img/icon-user.svg');
}

.authorized-user-link::after {
    content: url('../img/icon-logout.svg');
}

.authorized-user-link:hover::before,
.authorized-user-link:focus::before {
    content: url('../img/icon-user-hover.svg');
}

.authorized-user-link:active::before {
    content: url('../img/icon-user.svg');
}

.authorized-user-link:hover::after,
.authorized-user-link:focus::after {
    content: url('../img/icon-logout-hover.svg');
}

.authorized-user-link:active::after {
    content: url('../img/icon-logout.svg');
}

.authorized-user-link:active {
    color: var(--ui);
}

.authorized-user-actions {
    color: var(--dark-color);
}

.authorized-user-actions:hover span,
.authorized-user-actions:hover a {
    color: var(--basic-attention);
}

.authorized-user-actions a:active {
    color: var(--ui);
}

.social-networks {
    list-style-type: none;
}

.social-button-vk::before {
    content: url("../img/icon-vk.svg");
}

.social-button-fb::before {
    content: url("../img/icon-fb.svg");
}

.social-button-instagram::before {
    content: url("../img/icon-insta.svg");
}

.social-button {
    background-color: var(--backgroudnd-social);
    border-radius: 15px;
    width: 15px;
    height: 15px;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: var(--basic-attention);
}

.footer-feedback a:hover,
.footer-feedback a:focus {
    color: var(--additional-link);
    text-decoration: underline;
}

.footer-feedback a:active {
    color: var(--basic-attention-active);
    text-decoration: none;
}

.footer-development a:hover,
.footer-development a:focus {
    color: var(--additional-link);
    text-decoration: underline;
}

.footer-development a:active {
    color: var(--basic-attention-active);
    text-decoration: none;
}

.footer-nav-additional-list a:hover,
.footer-nav-additional-list a:focus {
    text-decoration: underline;
}

.footer-nav-additional-list a:active {
    text-decoration: none;
    color: var(--additional-link-50-opacity)
}

.footer-nav-general-list a:hover,
.footer-nav-general-list a:focus {
    text-decoration: underline;
}

.footer-nav-general-list a:active {
    text-decoration: none;
    color: var(--text-color-50-opacity)
}

.power-filter-option input::before {
    content: url("../img/radio-off.svg");
    color: var(--ui);
    cursor: pointer;
}

.power-filter-option input:checked::before {
    content: url("../img/radio-on.svg");
    color: var(--ui-hover);
}

.power-filter-option input:disabled::before {
    color: var(--ui-blocked);
}

.producer-filter-list input::before {
    content: url("../img/checkbox-off.svg");
    color: var(--ui);
    cursor: pointer;
}

.producer-filter-list input:checked::before {
    content: url("../img/checkbox-on.svg");
    color: var(--ui-hover);
}

.producer-filter-list input:disabled::before {
    color: var(--ui-blocked);
}

.producer-link:hover,
.producer-link:focus,
.producer-link:active {
    box-shadow: 0 0 15px var(--shadow);
}

.producer-link:active img {
    box-shadow: 0 0 15px var(--shadow);
    opacity: 0.4;
}


/*grid layout*/

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    /* margin-bottom: 70px; */
    display: grid;
    grid-template-rows: 42px 160px 120px;
}

.top-line-header-container {
    display: grid;
    grid-template-columns: 220px 275px 150px 125px 170px;
    grid-template-rows: 40px;
    width: 945px;
    margin: 0 auto;
}

.top-line-header-container div {
    margin-top: 15px;
}

.middle-line-header-container {
    display: grid;
    grid-template-columns: 235px 270px 280px;
    grid-template-rows: 140px;
    column-gap: 70px;
    width: 945px;
    margin: 0 auto;
}

.header-shop-description {
    margin-left: 30px;
    margin-top: 50px;
}

.header-contacts {
    margin-top: 45px;
}

.header-login-register {
    margin-top: 45px;
}

.botom-line-header {
    height: 120px;
}

.main-site-nav {
    margin: 0px;
    display: grid;
    width: 945px;
    margin: 0 auto;
    grid-template-columns: 110px 115px 110px 115px 180px 120px auto;
    grid-template-rows: 50px;
    padding-left: 0;
}

.main-site-nav-item {
    margin: 0 auto;
}

.main-site-nav a {
    display: inline-block;
    margin: 0 5px;
    height: 100%;
    padding-top: 15px;
}

.main-header-order {
    text-align: right;
}

.section-container,
.content-container {
    width: 945px;
    margin: 0 auto;
}

.main-sections-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 120px);
    gap: 20px;
    padding: 0;
    margin-top: 60px;
}

.main-section-discounts {
    grid-column: 3/4;
}

.main-section-delivery {
    grid-column: 3/4;
    grid-row: 3/4;
}

.tools-slider-content:last-of-type {
    display: none;
}

.tools-slider-container {
    width: 620px;
    height: 260px;
    position: absolute;
    top: 493px;
}

.tools-slider-content:first-of-type {
    background-image: url("../img/slider-perf.png");
    background-position: center;
    width: 620px;
    height: 260px;
}

.main-sections-list li {
    padding: 30px 20px;
}

.main-sections-list p {
    margin: 0;
}

.main-sections-list a {
    padding: 5px 10px;
}

.section-header {
    display: grid;
    grid-template-columns: 680px 200px;
}

.section-product-header,
.section-producer-header {
    margin: 20px 0 0 20px;
}

.section-product-open-products,
.section-product-open-producers {
    width: 200px;
    text-align: center;
    height: 20px;
    padding: 10px 10px;
    margin: 10px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    padding: 15px;
}

.product {
    display: grid;
    grid-template-rows: 130px 30px 30px 30px;
    height: 260px;
    text-align: center;
}

.product .product-action {
    grid-row: 1/2;
    margin: 30px 45px 25px;
}

.product img {
    grid-row: 1/2;
    margin: 10px auto;
}

.product-name {
    grid-row: 2/3;
}

.product .product-goto {
    grid-row: 5/6;
    margin: 10px auto;
    padding: 0 10px;
}

.producer-list {
    display: grid;
    margin: 0 auto;
    margin-bottom: 35px;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    padding: 10px 20px 0px 10px;
}

.producer {
    padding: 50px 30px;
    height: 50px;
}

.services-container {
    width: 945px;
    margin: 0 auto;
}

.services-header {
    margin: 20px;
    padding-top: 20px;
}

.services-slider-container {
    display: grid;
    grid-template-columns: 250px 695px;
}

.services-list {
    width: 240px;
    padding: 0;
}

.services-slider-content:not(.current) {
    display: none;
}

.services-slider-content-delivery {
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: bottom -50px right 0px;
}

.services-slider-content-garantee {
    background-image: url("../img/guarantee.svg");
    background-repeat: no-repeat;
    background-position: bottom -50px right 0px;
}

.services-slider-content-credit {
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: bottom -50px right 0px;
}

.services-header-text,
.services-description {
    width: 400px;
    padding: 0px 30px;
}

.send-credit-request {
    display: inline-block;
    width: 150px;
    margin-left: 30px;
    text-align: center;
    padding: 5px 10px;
}

.bottom-content-container {
    width: 945px;
    display: grid;
    margin: 30px auto;
    grid-template-columns: 2fr 1fr;
}

.delivery-list {
    padding: 0px
}

.delivery-list li::before {
    content: url("../img/attention-bullet.svg");
    display: inline-block;
    vertical-align: middle;
    margin: -10px 10px 0 0;
}

.delivery-list line {
    margin-left: 12px;
}

.open-details-about-company {
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 5px 10px;
}

.open-map {
    display: inline-block;
    width: 280px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
}

.page-footer-container {
    width: 945px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 325px auto;
}

.main-footer-logo {
    background-color: var(--basic-attention);
    width: 220px;
    height: 47px;
}

.footer-nav-general-list {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    width: 740px;
    padding: 0;
}

.footer-contacts a {
    color: var(--text-color);
}

.footer-nav-additional-list {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    width: 740px;
    margin-left: 20px;
}

.footer-bottom-line .page-footer-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}

.social li {
    display: inline-block;
    margin: 0 10px;
}